
.sidebar {
 
  width: 250px; /* Ancho inicial del menú */
  transition: width 0.4s ease-in-out; /* Añadimos la transición solo para el ancho */

}

.nav-menu p {
  opacity: 1; /* Aseguramos que el texto sea visible inicialmente */
  transition: opacity 0.3s ease-in-out;
}

.nav-menu {

  width: 100%;
  cursor: pointer;
}

.nav-menu ul li {
  color: white;
  width: 100%;
  font-size: 1.2rem;
}

.nav-menu ul li:hover {
  background-color: white;
  color: #1D4ED8;
}

#toggle:checked ~ main {
  margin-left: 70px; /* Ajustamos el margen izquierdo del main cuando el menú está colapsado */
 
}

#toggle:checked ~ .sidebar {
  width: 70px; /* Ancho del menú cuando está colapsado */
 
}

#toggle:checked ~ .sidebar .nav-menu p {
  opacity: 0; /* Hacemos que el texto se desvanezca cuando el menú está colapsado */
  pointer-events: none;
}

main {

  transition: margin-left 0.4s ease-in-out;
  margin-left: 256px; /* Margen izquierdo inicial del main */
}

@media (max-width: 640px) {
  main {
    margin-left: 0; /* Aseguramos que el main ocupe todo el ancho en dispositivos pequeños */
  
  }

  .sidebar {
   
    margin-left: 0;
    overflow: hidden;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Transición para el cambio de ancho */
    height: auto  !important;
    width: 256px !important; /* Ancho del menú en dispositivos pequeños */
    transform: translateX(-100%); /* Ocultamos el menú al principio */
   
  }
  
  .sidebar .nav-menu {
    opacity:1; 
    transition: opacity 0.4s ease-in-out; /* Transición para la opacidad */
  
  }

  .sidebar .nav-menu p{
    opacity:1; 
    transition:  0.4s ease-in-out; /* Transición para la opacidad */
  }

  .sidebar .nav-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #toggle:checked ~ .sidebar {
   
    transform: translateX(0);
    /* Ancho del menú cuando está expandido */  
    height: auto;
   
  }

  #toggle:checked ~ .sidebar .nav-menu {
    opacity: 1; /* Hacemos que el contenido sea visible cuando el menú está expandido */
  }

  #toggle:checked ~ main {
    margin-left: 0; /* Ajustamos el margen izquierdo del main cuando el menú está colapsado */
  }

  #toggle:checked ~ .sidebar .nav-menu p {
    opacity: 1; /* Hacemos que el texto se desvanezca cuando el menú está colapsado */
    pointer-events: none;
  }
}
